/*game page*/
#tubes-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px auto;
  align-items: flex-end;
}

.test-tube {
  width: 80px;
  height: 300px;
  border: 3px solid #555;
  border-radius: 40px;
  background-color: #e0e0e0;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  box-shadow: 0 4px 10px rgb(0, 0, 0, 2);
}

.slot {
  width: 50px;
  height: 50px;
  margin: 6px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flower {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.red {
  background: red;
}
.blue {
  background: blue;
}
.green {
  background: green;
}

#floating-flower {
  position: fixed;
  z-index: 1000;
  pointer-events: none;
}

#winner-container {
  display: none;
  position: fixed;
  inset: 0;
  background: white;
  z-index: 1000;
}
