/*game page*/
#tubes-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px auto;
  align-items: flex-end;
}

.test-tube {
  width: 80px;
  height: 300px;
  border: 3px solid #555;
  border-radius: 40px;
  background-color: #e0e0e0;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  box-shadow: 0 4px 10px rgb(0, 0, 0, 2);
}

.slot {
  width: 50px;
  height: 50px;
  margin: 6px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flower{
  width: 28px;
  height: 28px;
  border-radius: 50%;
  position: relative;
  background: currentColor;
  box-shadow:
    0 -18px currentColor,
    0 18px currentColor,
    18px 0 currentColor,
    -18px 0 currentColor;
}

.flower::after{
  content: "";
  position: absolute;
  inset: 6px;
  background: #ffd166;
  border-radius: 50%;
}


.red {
  color: #e63946;
}
.blue {
  color: #457b9d
}
.green {
  color: #2a9d8f
}
.pink {
  color: #ff6fae
}

#floating-flower {
  position: fixed;
  z-index: 1000;
  pointer-events: none;
}

#winner-container {
  display: none;
  position: fixed;
  inset: 0;
  background: white;
  z-index: 1000;
}
